    <footer class="footer">
        <div class="footer-content">
            <ul class="contact-links">
                <a href="mailto:youremail@example.com">
                    <i class="bi bi-envelope-at"></i>
                    <span>Email</span>
                </a>
                <a href="tel:+1234567890">
                    <i class="bi bi-telephone-fill"></i>
                    <span>Phone</span>
                </a>
                <a href="https://linkedin.com/yourprofile">
                    <i class="bi bi-linkedin"></i>
                    <span>LinkedIn</span>
                </a>
            </ul>
            <div class="copyright">
                <span>&copy; Robin Johannesson 2023</span>
            </div>
        </div>
    </footer>
    </body>

</html>