    <div class="primary-sidebar">
        <div class="sidebar-header primary-flex primary-row">
            <div class="logo-content">
                <div class="logo">
                    <div class="logo-name">
                        <span>Pulse</span>
                    </div>
                </div> 
            </div>
            <div>
                <button id="themeBtn">
                    <i class='bx bxs-sun' ></i>
                </button>
                <button>
                    <i class='bx bx-menu' id="sidebarBtn"></i>
                </button>
            </div>
        </div>
        <ul class="nav-list">
            <li>
                <a href="/calendar">
                    <i class='bx bxs-calendar' ></i>
                    <span class="link-name">Calendar</span>
                </a>
            </li>
            <li>
                <a href="/dashboard">
                    <i class='bx bxs-dashboard' ></i>
                    <span class="link-name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/projects">
                    <i class='bx bxs-collection'></i>
                    <span class="link-name">Projects</span>
                </a>
            </li>
            <li>
                <a href="/reports">
                    <i class='bx bxs-report' ></i>
                    <span class="link-name">Reports</span>
                </a>
            </li>
        </ul>
        <div class="profile-container">
            <div class="profile-root">
                <div class="profile-content">
                    <i class='bx bxs-user' ></i>
                    <div class="profile-details">
                        <a href="/user/profile">
                            <span class="profile-name">Robin Johannesson</span>
                        </a>
                        <span class="profile-role">Project Manager</span>
                    </div>
                </div>
                <i class="bx bx-log-out" id="logout"></i>
            </div>
        </div>
    </div>