    <div class="primary-sidebar" id="sidebar">
        <div class="sidebar-header">
            <div class="logo">
                <i class='bx bxs-network-chart'></i>
                <span>Pulse</span>
            </div>
            <i class="bx bx-menu" id="sidebarBtn"></i>
        </div>
        
        <% if (session.authenticated) { %>
        <div class="user">
            <a class="user-link" href="/user/profile">
                <img class="user-img" src="<%= user.image_url %>" alt="Profile Image">
            </a>
            <div class="user-details">
                <span class="user-details-name"><%= user.display_name %></span>
                <span class="user-details-role"><%= user.role %></span>
            </div>
        </div>
        <% } %>
        <ul>
            <% if (session.authenticated) { %>
            <li>
                <a class="nav-item" href="/calendar">
                    <i class='bx bxs-calendar'></i>
                    <span class="nav-item-label">Calendar</span>
                </a>
                <span class="primary-tooltip">Calendar</span>
            </li>
                <% if (user.role != "Employee") { %>
                <li>
                    <a class="nav-item" href="/dashboard">
                        <i class='bx bxs-dashboard' ></i>
                        <span class="nav-item-label">Dashboard</span>
                    </a>
                    <span class="primary-tooltip">Dashboard</span>
                </li>
                <% } else { %>
                <li>
                    <a class="nav-item" href="/report">
                        <i class='bx bxs-report'></i>
                        <span class="nav-item-label">Report</span>
                    </a>
                    <span class="primary-tooltip">Report</span>
                </li>
                <% } %>
            <% } else { %>
            <li>
                <a class="nav-item" href="/user/login">
                    <i class='bx bx-log-in'></i>
                    <span class="nav-item-label">Login</span>
                </a>
                <span class="primary-tooltip">Login</span>
            </li>
            <% } %>
            <li>
                <a class="nav-item" href="/about">
                    <i class='bx bxs-home-alt-2' ></i>
                    <span class="nav-item-label">About</span>
                </a>
                <span class="primary-tooltip">About</span>
            </li>
            <li>
                <a class="nav-item" href="/contact">
                    <i class='bx bxs-contact' ></i>
                    <span class="nav-item-label">Contact</span>
                </a>
                <span class="primary-tooltip">Contact</span>
            </li>
            <% if (session.authenticated) { %>
            <li>
                <a class="nav-item" href="/user/logout">
                    <i class="bx bx-log-out"></i>
                    <span class="nav-item-label">Logout</span>
                </a>
                <span class="primary-tooltip">Logout</span>
            </li>
            <% } %>
        </ul>
        <button id="themeBtn" class="">
            <i id="themeSun" class='bx bxs-sun'></i>
            <i id="themeMoon" class='bx bxs-moon' ></i>
        </button>
    </div>

    <script type="text/javascript" src="/js/sidebar.js" defer></script>
    <script type="text/javascript" src="/js/theme.js" defer></script>
