@use "./../utils" as * ;

.profile-form-header {
    display: grid;
    align-items: center;

    @include breakpoint(medium) {
        grid-template-columns: auto 1fr;
        gap: 3rem;
        margin-bottom: 1.5rem;
    }

    @include breakpoint-down(small) {
        grid-template-rows: repeat(2, 1fr);
    }

    .profile-image-details-container {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;

        @include breakpoint-down(small) {
            span {
                text-align: center;
                font-size: 0.8rem;
            }
        }
    }

    .profile-image-details {
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
    }

    #profileImg {
        object-fit: contain;
        border-radius: 1rem;
        background-color: var(--color-bg-300);
        border: 2px solid var(--color-border-300);
        box-shadow: 0 0 1rem 0.2rem var(--color-border-200) inset;
        -webkit-box-shadow: 0 0 1rem 0.2rem var(--color-border-200) inset;
        -moz-box-shadow: 0 0 1rem 0.2rem var(--color-border-200) inset;
    }
}

.profile-form-body-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
