@use "./../utils" as * ;

.profile-container {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: unset;
}

.profile-form-header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 3rem;
    align-items: center;

    .profile-image-details-container {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
    }

    .profile-image-details {
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
    }

    .profile-image-label {
        // align-self: center;
        // justify-self: left;
    }

    #profileImg {
        object-fit: contain;
        width: rem(128);
        height: rem(128);
        border-radius: 1rem;
        background-color: var(--color-bg-300);
        border: 2px solid var(--color-border-300);
        box-shadow: 0 0 1rem 0.2rem var(--color-border-200) inset;
        -webkit-box-shadow: 0 0 1rem 0.2rem var(--color-border-200) inset;
        -moz-box-shadow: 0 0 1rem 0.2rem var(--color-border-200) inset;
    }
}

.profile-form-body {

}

.profile-form-body-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

