.projects-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    margin: 2rem auto;
}

.projects-content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1.5rem;
}


// .projects-table {
//     .primary-th, .primary-td {
//         &:nth-child(1) {
//             width: 5%;
//         }

//         &:nth-child(2) {
//             width: 45%;
//         }

//         &:nth-child(3) {
//             width: 25%;
//         }

//         &:nth-child(4) {
//             width: 25%;
//         }
//     }
// }
