* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    position: relative;
    // height: 100vh;
    // height: 100dvh;
    // display: flex;
    // flex-flow: column nowrap;
    background-size: 100vh;
    color: var(--color-fg-100);
    line-height: var(--base-line-height);
    font-family: var(--font-inter);
    background: var(--color-bg);
    background-image: var(--bg-img);
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
}

article {
    margin: auto 0;
}

ul {
    margin-bottom: 0;
}

img, embed, object, video {
    max-width: 100%;
}

pre {
    white-space: pre-wrap;
}
