h1, h2, h3 {
    margin-top: 0;
    color: var(--color-fg-100);
}

a,
a:visited,
a:active {
    text-decoration: none;
}

h1 {
    font-weight: 900;
}

h2 {
    font-size: 1.5rem;
    font-weight: 800;
}

h3 {
    font-weight: 700;
}

p, span {
    font-family: var(--font-poppins);
    font-weight: 300;
    font-style: italic;
    color: var(--color-fg-100);
}

a, span {
    font-style: normal;
}

a {
    color: var(--color-link-100);
    font-family: var(--font-manrope);

    &:hover {
        color: var(--color-link-300);
    }

    span {
        color: var(--color-link-100);
        font-family: var(--font-manrope);
    }

    &:hover span {
        color: var(--color-link-300);
    }
}
