// https://icons.getbootstrap.com/
// https://matthewlein.com/tools/ceaser

@use '../../../node_modules/normalize.css/normalize';

@import 'abstracts';
@import "components";
@import "pages";

html, body {
    height: 100%;
}

body {
    background-size: 100vh;
}

img, embed, object, video {
    max-width: 100%;
}
