$font-color-100: hsl(0, 0%, 63%);
$font-color-200: hsl(0, 0%, 83%);
$font-color-300: hsl(0, 0%, 93%);

$font-alt-color-100: hsl(0, 0%, 13%);
$font-alt-color-200: hsl(0, 0%, 26%);
$font-alt-color-300: hsl(0, 0%, 38%);

$accent-color: #ee6c4d;
$background-color: hsl(214, 40%, 57%);
$background-alternative-color: #e0fbfc;

@import 'base';

body {
    background-color: hsl(0, 0%, 83%);
    // background-image: url("/img/Background_Pattern_01.png");
    // background-repeat: repeat;
    // background-position: center center;
}