$font-color: hsla(210, 30%, 28%, 0.6);
$font-alternative-color: hsl(239, 100%, 71%);
$accent-color: hsl(239, 100%, 71%);
$background-color: hsl(240, 22%, 96%);
$background-alternative-color: hsl(0, 0%, 100%);
