@use 'variables';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Old+Permic&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    line-height: variables.$base-line-height;
}

a {
    font-family: 'Noto Sans Old Permic', sans-serif;
}
