@use "./../utils" as *;

.footer {
    background-color: var(--color-footer-bg);
    backdrop-filter: blur(16px);
    color: var(--color-fg-100);
    padding: 1rem 2rem;
    text-align: center;
    border-top: 2px solid var(--color-footer-border);
}

.footer-content {
    display: flex;

    .contact-links {
        display: flex;
        flex-flow: row nowrap;
        gap: 2rem;
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            gap: 0.8rem;
            color: var(--color-fg-100);
            text-decoration: none;
            transition: all 250ms ease-in-out 50ms;

            &:hover {
                color: var(--color-fg-300);
            }
        }
    }

    .copyright {
        font-size: 14px;
        letter-spacing: 1.5px;
    }

    @include breakpoint(medium) {
        justify-content: space-between;
    }

    @include breakpoint-down(medium) {
        flex-flow: column nowrap;
        justify-content: center;
        gap: 1rem;

        .contact-links {
            justify-content: center;
        }

        .copyright {
            font-size: 0.8rem;
        }
    }
}
