.form-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background: transparent;
    backdrop-filter: blur(16px);
    padding: 0 2rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    border-radius: 2rem;
    border: 2px solid var(--color-border-100);
    box-shadow: 1rem 1rem 1.5rem 0 hsla(0, 0%, 0%, 0.2);

    * {
        &.form-row {
            flex-flow: row nowrap !important;
            align-items: center;
        }

        &.form-col {
            flex-flow: column nowrap !important;
            justify-content: center;
        }

        &.form-row-wrap {
            flex-flow: row wrap !important;
            align-items: center;
        }

        &.form-col-wrap {
            flex-flow: column wrap !important;
            justify-content: center;
        }
    }
}

.form-header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.form-body {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
    width: 100%;
    align-items: center;
    justify-content: center;

    > * {
        width: 100%;
    }

    .form-input-container {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;

        &.flex-end {
            justify-content: space-between;
        }
    }

    .form-input-label {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;

        &:has(.form-text-input) {
            gap: 0.5rem;
        }

        &.form-input-label-none-full {
            width: auto;
        }
    }

    .form-input {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        transition: all 150ms ease-in-out;

        .form-text-input {
            width: 100%;
            -webkit-appearance: none;
            appearance: none;
            background: transparent;
            backdrop-filter: blur(16px);
        }

        input,
        select {
            padding: 0.5rem 1rem;
            outline: 0;
            border: 0;
            border-radius: 1rem;
            color: var(--color-fg-100);
            outline: 2px solid var(--color-border-100);

            &:focus-within {
                outline-color: var(--color-border-300);
                color: var(--color-fg-300);
            }
        }

        .form-input-icon {
            position: absolute;
            font-size: 1em;
            right: 0.5em;
        }
    }

    .form-link {
        font-size: 0.9rem;
        text-align: center;

        a {
            color: var(--color-link-100);
            text-decoration: underline;
            font-weight: 600;

            &:hover {
                color: var(--color-link-300);
            }
        }
    }

    .form-button-link {
        width: 100%;

        button {
            width: 100%;
        }
    }
}
