@use "./../utils" as *;

.body-layout {
    position: relative;
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 1fr auto;
    // grid-template-rows: auto 1fr auto; (FOR HEADER)
}

.main-layout {
    position: relative;
    // min-height: 100vh;
    // min-height: 100dvh;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;

    @include breakpoint-down(small) {
        &:has(.primary-sidebar.transitioning),
        &:has(.primary-sidebar.active) {
            grid-template-columns: 1fr 0;
        }

        grid-template-rows: auto 1fr;
        grid-template-columns: none;
    }
}

.main {
    position: relative;
    // max-width: 800px;
    max-width: min(800px);
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 4rem auto;

    &.extend {
        min-width: 80%;
    }
}

.main-full {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.article {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    margin: 2rem auto;
}

.section {
    
}