@use "./../utils" as *;

.body-container {
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto;
}

.main-container {
    position: relative;
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto;
    // padding: 2rem;
    // padding-left: calc(var(--sidebar-width) + 2rem);

    &:has(.main-full) {
        padding: 0;
        padding-left: var(--sidebar-width);

        .primary-sidebar {
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        }
    }
}

.main-container-alt {
    min-height: 100vh;
    min-height: 100dvh;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
}

.main {
    position: relative;
    padding: 2rem;
}

.main-full {
    max-width: 100%;
}
