.main-layout {
    position: relative;
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 1fr auto;
}

.main {
    position: relative;
    max-width: 800px;
    margin: 4rem auto;

    &.extend {
        min-width: 80%;
    }
}

.main-full {
    max-width: 100%;
    margin: 0;
}

.article {
    margin: 2rem auto;
}

.section {
    
}