.stacked {
    display: grid;
}

.stacked > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.primary-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &.primary-col {
        flex-flow: column nowrap;
    }

    &.primary-row {
        flex-flow: row nowrap;
    }

    &.primary-col-wrap {
        flex-flow: column wrap;
    }

    &.primary-row-wrap {
        flex-flow: row wrap;
    }
}
