@use "../utils" as *;

.primary-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0.8rem 1.2rem 8px 0 hsla(0, 0%, 0%, 0.2);
    -webkit-box-shadow: 0.8rem 1.2rem 8px 0 hsla(0, 0%, 0%, 0.2);
    -moz-box-shadow: 0.8rem 1.2rem 8px 0 hsla(0, 0%, 0%, 0.2);
    border: 2px solid hsla(0, 0%, 0%, 0.5);

    .primary-th,
    .primary-td {
        padding: 0.5rem;
    }

    .primary-tr {
        border-bottom: 1pt solid black;
    }

    .primary-flex {
        justify-content: unset;
    }

    .primary-thead {
        .primary-tr {
            background-color: var(--color-table-header);
        }

        .primary-th {
        }
    }

    .primary-tbody {
        .primary-tr {
            background-color: var(--color-table-row);
        }

        .primary-tr:nth-child(odd) {
            background-color: var(--color-table-row-odd);
        }

        .primary-td  {
            span {
                text-transform: capitalize;
            }

            &.color-tab {
                display: table-cell;

                &.low {
                    background-color: var(--color-green);
                }

                &.mid {
                    background-color: var(--color-orange);
                }

                &.high {
                    background-color: var(--color-red);
                }
            }
        }
    }
}

.primary-table .primary-thead,
.primary-table .primary-tbody {

}

.primary-table .primary-thead {
    background-color: var(--color-bg);
    color: var(--color-fg-300);
}

.primary-table {
    .primary-th {
        &:nth-child(1) {
            width: 10%;
        }

        &:nth-child(2) {
            width: 30%;
        }
        &:nth-child(3) {
            width: 20%;
        }

        &:nth-child(4) {
            width: 20%;
        }

        &:nth-child(5) {
            width: 20%;
        }

        &:nth-child(6) {
            width: 20%;
        }

        &:nth-child(7) {
            width: 5%;
        }
    }
}

.primary-table {
    @include breakpoint-down(small) {
        th {
            display: none;
        }

        td {
            display: grid;
            gap: 0.5rem;
            grid-template-columns: 15ch auto;
            padding: 0.5rem 1rem;
        }

        td:first-child {
            padding-top: 2rem;
        }

        td:last-child {
            padding-bottom: 2rem;
        }
        
        td::before {
            content: attr(data-cell) ": ";
            font-weight: 700;
            text-transform: capitalize;
        }
    }
}
