<!doctype html>
<html lang="en">
    <head>
        <title><%= title %> - Eshop</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" href="/img/favicon.png">
    </head>
    <body>
        <!-- <nav class="nav">
            <a href="/eshop/index">Home</a> |
            <a href="/eshop/product">Products</a> | 
            <a href="/eshop/order">Orders</a> |
            <a href="/eshop/customer">Customers</a> |
            <a href="/eshop/category">Categories</a> |
            <a href="/eshop/about">About</a>
        </nav>
        <% if(locals.popup_message) { %>
            <div class="alert"><%= popup_message %></div>
        <%}%> -->