<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet">
    <title>Welcome to Pulse</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html {
            font-size: 100%;
            box-sizing: border-box;
        }

        *, *::before, *::after {
            box-sizing: inherit;
        }

        img, embed, object, video {
            max-width: 100%;
        }

        pre {
            white-space: pre-wrap;
        }

        body {
            line-height: 1.4;
        }

        h1 {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
        }

        em {
            font-weight: 700;
            font-style: normal;
        }

        p {
            font-family: 'Mukta', sans-serif;
            margin-bottom: 1rem;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 2rem;
        }

        .header {
            margin-bottom: 2rem;
        }
        .content {
            margin-bottom: 2rem;
        }
    </style>
</head>
<body>
    <main class="container">
        <header class="header">
            <h1>Welcome to <em>Pulse</em></h1>
        </header>
        <section>
            <article class="content">
                <p>
                    <em>Thank you</em> for joining Pulse Project Management!
                </p>
                <p>
                    Our goal is to provide you with a custom reporting system that will streamline your project management experience. With Pulse Project Management, you can easily register team members, set up projects, customize reporting frequencies, and access clear dashboards to track progress efficiently.
                </p>
                <p>
                    This platform empowers project managers to define project names, reporting frequencies, deadlines, and customize report formats to gather essential information. You and your team members will have access to a user-friendly dashboard displaying assigned reports, due dates, and timely reminders via email.
                </p>
            </article>
            <article class="content">
                <p>
                    If you have any questions or need assistance, feel free to reach out to our support team. We're here to help you make the most out of Pulse Project Management.
                </p>
            </article>
            <article class="content">
                <p>
                    <em>Best regards</em>,<br>
                    The Pulse Project Management Team
                </p>
            </article>
        </section>
    </main>
</body>
</html>
