<%- include("./../partials/header.ejs") %>

<div class="body-container">
    <div class="main-container">
        <%- include("./../partials/sidebar.ejs") %>
        <main class="main main-full">
            <div class="calendar" id="calendar"></div>
            <section class="section">
                <!-- Add news here -->
            </section>
            <aside class="aside">
                <section class="section">
                    <!-- Add control panel here -->
                </section>
            </aside>
        </main>
    </div>

    <script type="text/javascript" src="/js/calendar.js" defer></script>

    <%- include("./../partials/footer.ejs") %>
</div>
