<%- include("./../partials/header.ejs") %>

<main class="main">
    <div class="profile-container">
        <!-- Grid system -->
        <div class="profile-root">
            <div class="profile-header"></div>
            <form class="form" method="POST" action="/change_password/posted">
                <div class="form-input">
                    <label for="current-password" id="current-password-label">Current Password</label>
                    <div class="form-output">
                        <input class="form-text-input" type="password" aria-invalid="false" id="current-password" name="f_current_password" autocomplete="current-password" required>
                    </div>
                </div>
                <div class="form-input">
                    <label for="new-password" id="new-password-label">New Password</label>
                    <div class="form-output">
                        <input class="form-text-input" type="password" aria-invalid="false" id="new-password" name="f_new_password" required>
                    </div>
                </div>
                <div class="form-input">
                    <label for="new-password-again" id="new-password-again-label">New Password (Again)</label>
                    <div class="form-output">
                        <input class="form-text-input" type="password" aria-invalid="false" id="new-password-again" name="f_new_password_again" required>
                    </div>
                </div>
                <div class="form-input">
                    <button type="submit">
                        Update Password
                    </button>
                    <button type="button">
                        Cancel
                    </button>
                    <button type="reset">
                        Reset
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>

<%- include("./../partials/footer.ejs") %>
