<%- include("./../partials/header.ejs") %>

<div class="body-layout">
    <div class="main-layout">
        <%- include("./../partials/sidebar.ejs") %>
        <main class="main extend">

        </main>
    </div>

    <%- include("./../partials/footer.ejs") %>
</div>
