<%- include("./../partials/header.ejs") %>

<main class="main">
    <div class="delete-root form-container">
        <div class="delete-header form-root">
            <div class="profile-header form-header">
                <h1>Are you sure?</h1>
            </div>
            <form class="form" method="POST" action="/delete/posted">
                <div class="form-input">
                    <label for="password" id="password-label">Password</label>
                    <div class="form-input">
                        <input class="form-text-input" type="password" aria-invalid="false" id="password" name="f_password" minlength="6" maxlength="12" placeholder="Enter your password..." required>
                        <div class="form-password-toggle">
                            <button class="" type="button" aria-label="toggle password visibility">
                                <!-- Add svg here -->
                                <i class="bi bi-eye-slash" id="togglePassword"></i>
                            </button>
                        </div>
                    </div>
                    <label for="password-again" id="password-again-label">Password (Again)</label>
                    <div class="form-input">
                        <input class="form-text-input" type="password" aria-invalid="false" id="password-again" name="f_password_again" minlength="6" maxlength="12" placeholder="Enter your password again..." required>
                        <div class="form-password-toggle">
                            <button class="" type="button" aria-label="toggle password visibility">
                                <!-- Add svg here -->
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-input">
                    <button type="submit">
                        Accept
                    </button>
                    <button type="button">
                        Cancel
                    </button>
                    <button type="reset">
                        Reset
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>

<%- include("./../partials/footer.ejs") %>
