<%- include("./../partials/header.ejs") %>

<main class="main">
    <h1>JSON</h1>
    <ul>
        <li>
            <a href="/json/projects">Projects</a>
        </li>
        <li>
            <a href="/json/users">Users</a>
        </li>
        <li>
            <a href="/json/assignments">Assignments</a>
        </li>
    </ul>
    <div class="form-container">
        <div class="form-root">
            <form class="form" method="POST" action="/json/user/">
                <fieldset class="fieldset">
                    <legend class="legend">View user details</legend>
                    <div class="form-input">
                        <input type="text" value="2e889992-6993-42c2-9366-cf9249a1e61b" autocomplete="off" name="f_id" id="user_id">
                        <label for="user_id">User ID</label>
                    </div>
                    <button class="button form-button" type="submit">
                        Send
                    </button>
                    <button class="button form-button" type="reset">
                        Reset
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="form-container">
        <div class="form-root">
            <form class="form" method="POST" action="/json/project/">
                <fieldset class="fieldset">
                    <legend class="legend">View project details</legend>
                    <div class="form-input">
                        <input type="text" value="4e658238-d50c-4812-84f2-be58e8be308a" autocomplete="off" name="f_id" id="project_id">
                        <label for="project_id">Project ID</label>
                    </div>
                    <button class="button form-button" type="submit">
                        Send
                    </button>
                    <button class="button form-button" type="reset">
                        Reset
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</main>

<%- include("./../partials/footer.ejs") %>
