<%- include("./../partials/header.ejs") %>

<main class="main">
    <div class="form-container">
        <div class="form-root">
            <div class="form-header"></div>
            <form class="form" method="POST" action="/project/create/posted">
                <div class="form-input">
                    <input class="form-text-input" type="text" aria-invalid="false" id="name" name="f_name" required placeholder="Enter a project name">
                    <label class="form-input-label label" for="name" id="nameLabel">Name</label>
                </div>
                <div class="form-input">
                    <textarea class="form-input-textarea" aria-invalid="false" id="description" name="f_description" rows="5" cols="33"></textarea>
                    <label class="form-input-label label" for="description" id="descriptionLabel">Description</label>
                </div>
                <div class="form-input">
                    <input class="form-text-input" type="date" aria-invalid="false" id="dueDate" name="f_due_date">
                    <label class="form-input-label label" for="dueDate" id="dueDateLabel">Due Date</label>
                </div>
                <div class="form-spacer-x4"></div>
                <button class="button form-button" type="submit">
                    <span>Create project</span>
                </button>
                <a href="/project/managed">
                    <button class="button form-button" type="button">
                        <span>Go Back</span>
                    </button>
                </a>
            </form>
        </div>
    </div>
</main>

<%- include("./../partials/footer.ejs") %>
