<%- include("./../partials/header.ejs") %>

<div class="body-container">
    <div class="main-container">
        <%- include("./../partials/menu.ejs") %>
        <main class="main">
            <div class="form-root">
                <div class="form-container">
                    <div class="form-header"></div>
                    <form class="form-body" method="POST" action="/user/change_password/posted">
                        <label class="form-input-label" for="currentPassword" id="currentPasswordLabel">
                            <span>Current Password</span>
                            <div class="form-input">
                                <input class="form-text-input" type="password" aria-invalid="false" id="currentPassword" name="f_current_password" autocomplete="current-password" required placeholder="Enter your current password" value="<%= password %>">
                            </div>
                        </label>
                        <label class="form-input-label" for="password" id="passwordLabel">
                            <span>Password</span>
                            <div class="form-input">
                                <input class="form-text-input form-password-input" type="password" aria-invalid="false" id="password" name="f_new_password" required placeholder="Enter your password">
                                <button class="form-input-icon" id="passwordBtn" type="button">
                                    <i id="passwordHidden" class="bi bi-eye-slash-fill"></i>
                                    <i id="passwordShown" class="bi bi-eye"></i>
                                </button>
                            </div>
                        </label>
                        <label class="form-input-label" for="passwordAgain" id="passwordAgainLabel">
                            <span>Password (again)</span>
                            <div class="form-input">
                                <input class="form-text-input form-password-input" type="password" aria-invalid="false" id="passwordAgain" name="f_new_password_again" required placeholder="Enter your password (again)">
                            </div>
                        </label>
                        <button class="button form-button" type="submit">
                            <span>Update Password</span>
                        </button>
                        <a href="/user/profile">
                            <button class="button form-button" type="button">
                                <span>Cancel</span>
                            </button>
                        </a>
                    </form>
                </div>
            </div>
        </main>
    </div>

    <script type="text/javascript" src="/js/password.js" defer></script>

    <%- include("./../partials/footer.ejs") %>
</div>
