<%- include("./../partials/header.ejs") %>

<div class="main-layout">
    <main class="main">
        <div class="form-container">
            <div class="form-root">
                <div class="form-header"></div>
                <form class="form" method="POST" action="/user/change_password/posted">
                    <div class="form-input">
                        <input class="form-text-input" type="password" aria-invalid="false" id="currentPassword" name="f_current_password" autocomplete="current-password" required placeholder="Enter your current password">
                        <label class="form-input-label label" for="currentPassword" id="currentPasswordLabel">Current Password</label>
                        <i class="bi bi-person-fill"></i>
                    </div>
                    <div class="form-input">
                        <input class="form-text-input" type="password" aria-invalid="false" id="password" name="f_password" required placeholder="Enter your password">
                        <label class="form-input-label label" for="password" id="password-label">Password</label>
                        <button class="form-password-button" type="button" id="passwordToggle" aria-label="Toggle password visibility">
                            <i id="passwordIcon" class="bi bi-eye-slash-fill"></i>
                        </button>
                    </div>
                    <div class="form-input">
                        <input class="form-text-input" type="password" aria-invalid="false" id="password-again" name="f_password_again" required placeholder="Enter your password (again)">
                        <label class="form-input-label label" for="password-again" id="password-again-label">Password (again)</label>
                    </div>
                    <button class="button form-button" type="submit">
                        <span>Update Password</span>
                    </button>
                    <a href="/user/profile">
                        <button class="button form-button" type="button">
                            <span>Cancel</span>
                        </button>
                    </a>
                </form>
            </div>
        </div>
    </main>

    <%- include("./../partials/footer.ejs") %>
</div>
