<%- include("./../partials/header.ejs") %>

<div class="body-container">
    <div class="main-container">
        <%- include("./../partials/menu.ejs") %>
        <main class="main">
            <div class="form-root">
                <div class="form-container">
                    <div class="form-header">
                        <h2>Do you want to reactivate your account?</h2>
                        <p>Current status of your current account is deactivation.</p>
                    </div>
                    <form class="form-body" method="POST" action="/user/reactivate/posted">
                        <input type="text" aria-invalid="false" id="id" name="f_id" value="<%= user_id %>" required hidden>
                        <button class="button" type="submit">
                            <span>Reactivate</span>
                        </button>
                        <a class="form-button-link" href="/user/login">
                            <button class="button" type="button">
                                <span>Cancel</span>
                            </button>
                        </a>
                    </form>
                </div>
            </div>
        </main>
    </div>

    <%- include("./../partials/footer.ejs") %>
</div>
