<%- include("./../partials/header.ejs") %>

<div class="body-layout">
    <div class="main-layout">
        <%- include("./../partials/sidebar.ejs") %>
        <main class="main">
            <div class="form-container">
                <div class="form-root">
                    <div class="form-header"></div>
                    <form class="form" method="POST" action="/user/register/posted">
                        <div class="form-input">
                            <input class="form-text-input" type="text" aria-invalid="false" id="username" name="f_username" required placeholder="Enter your username" autocorrect="off" autocapitalize="none">
                            <!-- <label class="form-input-label label" for="username" id="username-label">Username</label> -->
                            <i class="bi bi-person-fill"></i>
                        </div>
                        <div class="form-input">
                            <input class="form-text-input" type="email" aria-invalid="false" id="email" name="f_email" required placeholder="Enter your email">
                            <!-- <label class="form-input-label label" for="email" id="email-label">Email</label>
                            <i class="bi bi-postcard-fill"></i> -->
                        </div>
                        <div class="form-input">
                            <input class="form-text-input" type="password" aria-invalid="false" id="password" name="f_password" required placeholder="Enter your password">
                            <!-- <label class="form-input-label label" for="password" id="password-label">Password</label> -->
                            <button class="form-password-button" type="button" id="passwordToggle" aria-label="Toggle password visibility">
                                <i id="passwordIcon" class="bi bi-eye-slash-fill"></i>
                            </button>
                        </div>
                        <div class="form-input">
                            <input class="form-text-input" type="password" aria-invalid="false" id="password-again" name="f_password_again" required placeholder="Enter your password (again)">
                            <!-- <label class="form-input-label label" for="password-again" id="password-again-label">Password (again)</label> -->
                        </div>
                        <div class="form-spacer-x4"></div>
                        <label class="form-input-label" for="employee">
                            <input class="form-checkbox-input" id="employee" type="checkbox" name="f_employee" required>
                            <span>Employee</span>
                        </label>
                        <label class="form-input-label" for="privacy">
                            <input class="form-checkbox-input" id="privacy" type="checkbox" name="f_privacy_policy" required>
                            <span>I agree to <a href="#">privacy policy & terms</a></span>
                        </label>
                        <button class="button form-button" type="submit">
                            <span>Sign up</span>
                        </button>
                        <div class="form-link">
                            <p>Already have an account? <strong><a href="/user/login">Sign in instead</a></strong></p>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>

    <script type="text/javascript" src="/js/form.js" defer></script>

    <%- include("./../partials/footer.ejs") %>
</div>
